body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    background-color:#3F673B;
}
h1{
    color: azure;
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
}
#guess{
    border: solid 1px white ;
    display: flex;
    border-radius: 30px;
    justify-content: center;
    width: 260px;
    margin: auto;
}
#guessbox{
    width: 180px;
    height: 6vh;
    font-size: 24px;
    font-weight: bold;  
    border: none;
    outline: none;
    margin: 0px;
    padding: 0px;
    border-top-left-radius:30px ;
    border-bottom-left-radius:30px ;
    text-align: center;
}
.btn{
    width: 80px;
    height: 6vh;   
    font-size: 16px;
    font-weight: bold;
    border: none;
    outline: none;
    margin: 0px;
    padding: 0px;
    border-top-right-radius:30px ;
    border-bottom-right-radius:30px ;

}
.btn :hover{
    box-shadow: rgb(211, 211, 211)3px 3px 5px 0px;
}
#guessnumber{
    width: 340px;
    height: 40px;
    font-size: 24px;
    font-weight: bold;
}
#attempt{
    width: 40px;
    height: 40px;
    font-size: 24px;
    font-weight: bold;
}
.font{
    font-size: 24px;
    color: azure;
    font-weight: bold;
}
.difficulty{
    display: flex;
    gap: 0.5rem;
    font-size: 1.5rem;
    color: azure;
    justify-content: center;
    margin-bottom: 1em;
}
